<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Cadastrar empresas</title>
</head>


<section class="layout-content" layout:fragment="conteudo">

	<div class="container">
		<nav class="navbar navbar-expand-md bg-danger text-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<h4>Cadastro de Empresas</h4>
					</li>
				</ul>
				<a class="btn btn-light btn-md" href="listarEmpresa"
					role="button"> <span class="oi oi-arrow-left" title="Cadastro"
					aria-hidden="true"></span> <span>Listar empresas</span>
				</a>
			</div>
		</nav>
	</div>
	<div class="container">
		<form action="/salvarEmpresa" method="POST" th:object=${empresa}>
			<div class="form-group">
				<div class="invalid-feedback"></div>
				<label for="nome">Nome</label> <input class="form-control"
					type="text" id="nome" autofocus="autofocus" th:field="*{nome}"
					value=""> <label for="nome">CNPJ</label> <input
					class="form-control" type="text" id="cnpj" autofocus="autofocus"
					th:field="*{cnpj}" value=""> <label for="nome">E-mail</label>
				<input class="form-control" type="text" id="email"
					autofocus="autofocus" th:field="*{email}" value="">
					<label for="nome">URL do logo</label>
				<input class="form-control" type="text" id="logo"
					autofocus="autofocus" th:field="*{logo}" value="">
				<label for="cidade">cidade</label>
				<select class="form-control" id="estado" th:field="*{cidade}">
					<option th:each="cidade: ${cidades}" th:value="${cidade.id}"
						th:text="${cidade}">Selecione...</option>
				</select>
				<div class="col-12 py-5">
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
						class="alert alert-danger"></span>
				</div>
				<input type="hidden" id="id" th:field="*{id}" value="" /> <input
					class="btn btn-dark" type="submit" value="Salvar">

			</div>
		</form>
	</div>
</section>
</body>

</html>