<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Listar empresas</title>
</head>

<section class="layout-content"  layout:fragment="conteudo">

	<div class="container">
		<nav class="navbar navbar-expand-md bg-secondary text-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<h4>Lista de Empresas</h4>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" href="/cadastrarEmpresa" role="button"> <span
					class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> <span>Cadastrar
						Empresa</span>
				</a>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>#</th>
						<th>Cidade</th>
						<th>Estado</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidade : ${cidades}">
						<td th:text="${cidade.id}"></td>
						<td th:text="${cidade.nome}"></td>
						<td th:text="${cidade.estado}"></td>
						<td colspan="2"><a th:href="@{/editarCidade/{id}(id=${cidade.id})}" class="btn btn-primary btn-sm mr-2"
							role="button"> <span class="oi oi-pencil" title="Editar"
								aria-hidden="true"></span><a data-toggle="modal"
								data-target="#modal-warning" class="btn btn-danger btn-sm ml-2" th:attr="data-target='#modal-warning'+${cidade.id}"><span
									class="oi oi-x text-light" title="Excluir" aria-hidden="true"></span></a></td>
						<div class="modal modal-warning fade in"
							th:id="modal-warning+${cidade.id}">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h2 class="modal-title">Atenção</h2>
									</div>
									<div class="modal-body">
										<h5>Confirma a exclusão do registro?</h5>
									</div>
									<div class="modal-footer">
										<a type="button" class="btn btn-outline" th:href="@{/excluirCidade/{id}(id=${cidade.id})}">Sim</a>
										<button type="button" class="btn btn-outline pull-left"
											data-dismiss="modal">Não</button>
									</div>
								</div>
							</div>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</body>

</html>