<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Cadastrar estado</title>
</head>

<section class="layout-content" layout:fragment="conteudo">

	<div class="container">
		<nav class="navbar navbar-expand-md bg-danger text-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<h4>Cadastrar estado</h4>
					</li>
				</ul>
				<a class="btn btn-light btn-md" href="listarCidade"
					role="button"> <span class="oi oi-arrow-left" title="Cadastro"
					aria-hidden="true"></span> <span>Listar estados</span>
				</a>
			</div>
		</nav>
	</div>
	<div class="container">
		<form action="/salvarEstado" method="POST" th:object=${estado}>
		<div class="form-group">
			<div class="row">
			<div class="col">
            <label for="nome">Estado</label>
            <input class="form-control" type="text" id="nome" autofocus="autofocus" th:field="*{nome}" value="">
			<br>
			</div>
			<div class="col">
            <label for="sigla">Sigla</label>
            <input class="form-control" type="text" id="sigla" th:field="*{sigla}" value=""/>
			<br>
			</div>
            <div class="col-12 py-5">
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger"></span>
					<span th:if="${#fields.hasErrors('sigla')}" th:errors="*{sigla}" class="alert alert-danger"></span>
				</div>
            <input type="hidden" id="id" th:field="*{id}" value="" />
            <input class="btn btn-dark" type="submit" value="Salvar">
            </div>
          </form>
		</div>
	</div>
</section>
</body>

</html>