<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtl"
	layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>Home</title>
</head>

<section class="layout-content" layout:fragment="conteudo">
<section>
<div>
	<h1 class="titulo-principal">SIVA</h1>
	<h2>Sistemas de vagas: Aqui você encontra a vaga ideal para você!</h2>
	<h3>Todos os tipos de vagas, TI, Desenvolvedor, presenciais e Home Office</h3>
	<button>Convultar vagas</button>
</div>
<img src="/image/homepage.svg">
</section>
	<h3>Como surgimos?</h3>
	<p class="text-siva"><strong>Um grande número de desempregados no país, surgiu a ideia de criarmos um sistema de vagas de 
	emprego para as pessoas em uma posição desfavorecida na sociedade. Para criar um projeto com impacto social, uma equipe de
	desenvolvimento decidiu Criar o SIVA (Sistema de Vagas de Emprego), uma plataforma capaz de gerir as vagas de emprego e oferecer 
	oportunidades de emprego para as pessoas.</strong></p>
<section>
</section>
	</section>
</body>

</html>