<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
<title>Layout</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>


<body>

	<header>
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

			<h3 class="my-0 mr-md-auto font-weight-normal">Projeto Piloto
				Spring</h3>

			<nav class="my-2 my-md-0 mr-md-3">

				<a class="p-2 text-dark" href="/">Home</a> <a
					sec:authorize="hasAuthority('usuario')" class="p-2 text-dark"
					th:href="@{/listarUsuario}">Usuários</a> <a
					sec:authorize="hasAuthority('cidade')" class="p-2 text-dark"
					th:href="@{/listarCidade}">Cidades</a> <a
					sec:authorize="hasAuthority('estado')" class="p-2 text-dark"
					th:href="@{/listarEstado}">Estados</a> <a
					sec:authorize="hasAuthority('permissao')" class="p-2 text-dark"
					th:href="@{/listarPermissao}">Permissao</a> 
					<a sec:authorize="hasAuthority('vaga')" class="p-2 text-dark" th:href="@{/listarVaga}">Vagas</a>
					<a class="p-2 text-dark" href="/listarRole">Acessos</a>
			</nav>
			<a class="btn btn-outline-primary" href="/logout">Sair</a> <span
				sec:authentication="name" class="ml-2 mr-2"></span>
		</div>
	</header>
	<div class="layout-main">

		<section class="layout-content" layout:fragment="conteudo">
			<h1>Exemplo de fragmento Thymeleaf</h1>
		</section>
	</div>
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 - 7º Período - PDS - SI
				- IFSULDEMINAS. Todos os direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>