<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
<title>Layout</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>


<body>

	<header>
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">

			<h3 class="my-0 mr-md-auto font-weight-normal vermelho">SIVA</h3>

			<nav class="my-2 my-md-0 mr-md-3">

				<a class="p-2 text-dark" href="/">Home</a> <a
					sec:authorize="hasAuthority('usuario')" class="p-2 text-dark"
					th:href="@{/listarUsuario}">Usuários</a> <a
					sec:authorize="hasAuthority('cidade')" class="p-2 text-dark"
					th:href="@{/listarCidade}">Cidades</a> <a
					sec:authorize="hasAuthority('estado')" class="p-2 text-dark"
					th:href="@{/listarEstado}">Estados</a> <a
					sec:authorize="hasAuthority('permissao')" class="p-2 text-dark"
					th:href="@{/listarPermissao}">Permissao</a> 
					<a sec:authorize="hasAuthority('vaga')" class="p-2 text-dark" th:href="@{/listarVaga}">Vagas</a>
					<a class="p-2 text-dark" href="/listarRole">Acessos</a>
			</nav>
			<a id="button-login-logout" class="btn btn-outline-danger" href="/logout">Sair</a> <span
				sec:authentication="name" id="nome-usuario" class="ml-2 mr-2"></span>
		</div>
	</header>
	<div class="layout-main">

		<section class="layout-content" layout:fragment="conteudo">
			<h1>Exemplo de fragmento Thymeleaf</h1>
		</section>
	</div>
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 - SIVA. Todos os direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script>
		let inputElement = document.getElementById('descricao')
		let nomeUsuario = document.getElementById('nome-usuario').textContent
		if(nomeUsuario == 'anonymousUser'){
			document.getElementById('nome-usuario').style.display = "none"
			document.getElementById('button-login-logout').href = "/login"
			document.getElementById('button-login-logout').innerHTML = "Login"
		}else{
			document.getElementById('nome-usuario').style.display = "block"
			document.getElementById('button-login-logout').href = "/logout"
			document.getElementById('button-login-logout').innerHTML = "Sair"
		}
		var toolbarOptions = [
			['bold', 'italic', 'underline', 'strike'],        // toggled buttons
			['blockquote', 'code-block'],

			[{ 'header': 1 }, { 'header': 2 }],               // custom button values
			[{ 'list': 'ordered'}, { 'list': 'bullet' }],
			[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
			[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
			[{ 'direction': 'rtl' }],                         // text direction

			[{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
			[{ 'header': [1, 2, 3, 4, 5, 6, false] }],

			[{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
			[{ 'font': [] }],
			[{ 'align': [] }],

			['clean']                                         // remove formatting button
		];
		var quill = new Quill('#editor-container', {
			modules: {
				toolbar: toolbarOptions
			},
			theme: 'snow'
		});
		quill.on('text-change', function() {
			inputElement.value = quill.root.innerHTML
		});
		$(document).ready(function(){
			quill.root.innerHTML = inputElement.value
		});
		
	</script>
</body>
</html>